body{
    background-color:rgb(252, 252, 252);
}

.awal{
    width: 900px;
    background-color: rgba(250, 250, 250, 0.822);
    margin:auto;
    padding: 16px;
}
table{
    width: 95%;
}
.testimoni{
    background-color: rgba(245, 65, 89);
    color: white;
}

